@use 'variables'
@use 'mixins'
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    list-style: none
    text-decoration: none

body
    @include mixins.flex
    background-color: variables.$bg-main

.main
    width: 350px
    background-color: variables.$bg-card
    display: flex
    flex-direction: column
    border-radius: .7rem
    margin-block: 2rem

    @include mixins.quebra1 
        width: 748px
    
    @include mixins.quebra2 
        width: 1230px
        height: 560px
        position: relative
    
    @include mixins.quebra3 
        width: 100%
        border-radius: 0

    &-header img
        border-radius: .7rem .7rem 0 0

        @include mixins.quebra1 
            width: 748px
            height: 400px

        @include mixins.quebra2 
            float: right
            width: 50%
            height: 560px
            border-radius: 0 .7rem .7rem 0
        
        @include mixins.quebra3 
            border-radius: 0
            width: 100%

    &-container
        display: flex
        flex-direction: column
        gap: 2rem
        text-align: center
        padding: 2.3rem 1.2rem

        @include mixins.quebra2 
            float: left
            width: 50%
            position: absolute

        &-section-1
            font-family: variables.$font-inter

            @include mixins.quebra1 
                width: 70%
                margin: auto

            @include mixins.quebra2 
                width: 85%

            h1
                font-size: 2rem
                padding-bottom: 1rem
                color: #fff
            
                span
                    color: variables.$soft-violet

            p
                line-height: 200%
                color: variables.$main-paragraph
        
        &-section-2 
            display: flex
            flex-direction: column
            gap: 2rem

            .cards
                font-family: variables.$font-lexend
                line-height: 200%

                h2
                    color: #fff
                    font-size: 1.8rem
                
                p
                    color: variables.$main-paragraph
                    text-transform: uppercase
                    font-size: .8rem